*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: "Monospaced Number","Chinese Quote",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    background-color: #f0f2f5;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li,ol{
    list-style: none;
}
/*id样式*/
#root{
    height: 100%;
    width: 100%;
}

/*类样式*/
.container{
    height: 100%;
    width: 100%;
    position: relative;
}
.header{
    height: 60px;
    background-color: #FFF;
    border-bottom: 1px solid #F2F2F2;
}
.sidebar{
    position: fixed;
    width: 220px;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #000;
    box-shadow: 1px 0px 20px #999;
}
.main{
    position: absolute;
    top: 60px;
    left: 220px;
    right: 0;
    bottom: 0;
    padding: 30px;
}
.menu{
    text-align: center;
    font-size: 14px;
}
.menu h3{
    padding: 15px 0;
    font-weight: normal;
    color: #FFF;
    height: 59px;
    background-color: #2A3867;
}
.menu a{
    text-decoration: none;
    color: #999;
    display: block;
    padding: 13px 0;
    transition: all .25s;
}
.menu a.active{
    background-color: #1890FF;
    color: #FFF;
}
.warpper{
    background-color: #FFF;
    padding: 20px;
    margin-bottom: 30px;
}
.table{
    width: 100%;
    border: 1px solid #F2F2F2;
    border-collapse: collapse;
    color: rgba(0, 0, 0, .85);
    font: inherit;
}
.table th{
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.table thead{
    background-color: #F9F9F9;
}
.table tbody tr{
    transition: all .25s;
}
.table tbody tr:hover{
    background-color: #E6F7FF;
}
.table td{
    border-bottom: 1px solid #F2F2F2;
}
.table tr:last-child td{
    border-bottom: none;
}
.table th,
.table td{
    padding: 15px;
}
.operate{
    position: relative;
}
.operate a{
    color: #1890FF;
    margin-right: 20px;
    font-size: 14px;
}
.operate span{
    height: 10px;
    background-color: #1890FF;
    width: 1px;
    display: block;
    position: absolute;
    left: 53px;
    top: 22px;
}
.page{
    margin-top: 20px;
    text-align: right;
}
.page a{
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 0, 0, .85);
    font-size: 12px;
    border: 1px solid #F2F2F2;
    padding: 3px 8px;
    margin-left: 5px;
    transition: all .25s;
}
.page a:hover{
    background-color: #F2F2F2;
}
.page a.active{
    background-color: #1890FF;
    color: #FFF;
}
.tool{
    position: relative;
    margin-bottom: 30px;
}
.search{
    display: inline-block;
    width: 300px;
    height: 35px;
    border: 1px solid #F2F2F2;
    line-height: 28px;
    vertical-align: middle;
}
.search input{
    display: inline-block;
    border: none;
    width: 230px;
    outline: none;
    vertical-align: middle;
    line-height: 33px;
    height: 33px;
    color: #666;
    font-family: inherit;
    padding-left: 10px;
}
.btn{
    line-height: 33px;
    height: 33px;
    text-align: center;
    background-color: #1890FF;
    color: #FFF;
    font-size: 14px;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.btn-save{
    margin-right: 20px;
}
.markdown{
    border: 1px solid #F2F2F2;
    background-color: #FFF;
    margin-bottom: 30px;
}
.form{
    margin: 5px 0;
}
.form span{
    display: inline-block;
    width: 50px;
    height: 33px;
    line-height: 33px;
    font-size: 14px;
}
.form input{
    display: inline-block;
    height: 33px;
    line-height: 33px;
    border: 1px solid #CCC;
    transition: all .25s;
    outline: none;
    padding-left: 10px;
    width: 300px;
    font-size: 14px;
}
/*common*/
.clear::after{
    display: block;
    clear: both;
    content: ' ';
}
.fl{
    float: left;
}
.fr{
    float: right;
}
